html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }
  
  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
    border-radius: 15px;
  }
  
  #grey {
    background:grey
  }
  
  #white {
    background: white;
  }
  #blue {
    background: blue
  }
  #yellow {
    background: yellow;
  }
  nav {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    gap: 2rem;
    border-bottom: solid 1px #aaa;
    background-color: #e3d4d4;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
    
  }
  
  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
    

  }
  a:hover{
    background-image: linear-gradient(rgb(164, 93, 93), white);
    

  }