html, body{
    height: 100%;
    width: 100%;
}
.card {
    width: 50%;
    height: 250px;
    margin-top: 4rem;
    margin-left: 25%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  }

  .description {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
  }
  
  .buttonContainer {
    display: flex;
    gap: 20px;
    flex-direction: row;
  }

  .startButton {
    width: 80px;
    height: 30px;
    background-color: #7b57ff;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
  }
  
  .stopButton {
    width: 80px;
    height: 30px;
    background-color: rgb(218, 218, 218);
    transition-duration: .2s;
    color: rgb(46, 46, 46);
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
  }
  
  .stopButton:hover {
    background-color: #ebebeb;
    transition-duration: .2s;
  }
  
  .startButton:hover {
    background-color: #9173ff;
    transition-duration: .2s;
  }

  nav {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    gap: 2rem;
    border-bottom: solid 1px #aaa;
    background-color: #e3d4d4;
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
  }

  nav a[aria-current='page'] {
    color: #000;
    background-color: #d4d4d4;
  }

  a:hover{
    background-image: linear-gradient(rgb(164, 93, 93), white);
  }